<!DOCTYPE html>
<head>
	<title>This is a test RoR HTML Page</title>
	<%= stylesheet_link_tag "main" %>
</head>
<body>
  <h1>This is a test RoR HTML Page</h1>
  <p>Testing the RoR Framework</p>
</body>
</html>

